// Here you can add other styles
.ReactTags__tags {
  margin-top: 12px;
  margin-bottom: 5px;
}

.ReactTags__tagInput {
  margin-top: 12px;
}

.ReactTags__tag {
  background-color: $brand-primary;
  border-radius: 0;
  color: white;
  padding: 4px 6px;
  margin-right: 5px;
}
