// Here you can add other styles
.center {
  text-align: center;
}

.ReactTags__tags {
  margin-top: 12px;
  margin-bottom: 5px;
}

.ReactTags__tagInput {
  margin-top: 12px;
}

.ReactTags__tag {
  background-color: $brand-primary;
  border-radius: 0;
  color: white;
  padding: 4px 6px;
  margin-right: 5px;
}

.ReactTags__tagInput input {
  padding: 4px 10px;
}

.about {
  img {
    max-width: 70%;
    text-align: center;
    margin: 0 auto;
  }
}
